{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "next/core-web-vitals",
    // "eslint:recommended",
    // "plugin:@typescript-eslint/recommended",
    // // "plugin:@typescript-eslint/recommended-type-checked",
    // "plugin:@typescript-eslint/stylistic-type-checked",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-explicit-any": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
